
@{
    ViewBag.Title = "Administrace";
}

Přítomno vzorků: @ViewBag.samplesCount <br />
Kultura: @ViewBag.culture <br />
Datum: @ViewBag.date <br />

<div class="row">
    <a href="~/Adm/SpotOverView" class="btn btn-success">Spot overview</a>
    <a href="~/Adm/Handupdate" class="btn btn-success" style="margin: 10px;">Hand update</a>
    <a href="~/Adm/GetLastSample/64" class="btn btn-success" style="margin: 10px;">Get Last Sample + id</a>
    <a href="~/Adm/GetStationOverView/64" class="btn btn-success" style="margin: 10px;">Get Station OverView + id</a>
</div>