@{
    ViewBag.Title = "O stránce";
}

<div class="jumbotron">
    <p>
        Hydra<sup>2</sup> shromažďuje informace o výškách hladiny a průtocích řek a
        o zaplněnosti a odtocích z nádrží.
    </p>
    <p>
        Hydra<sup>2</sup> vznikla jako pokračování původního projektu <a href="http://www.hydra.webz.cz/">Hydra</a> autorů Valiho a Poustvy. Tento projekt už bohužel nepokračuje.
        Historická data byla převzata z původního projektu.
    </p>
    <p style="margin: 1em 0 0 2em; font-style: italic;">
        Hydra je služba snů,<br>
        informace má (nejen) od <abbr title="Českého hydrometeorologického ústavu">ČHMÚ</abbr>.
    </p>
    <dl>
        <dt>Autor:</dt>
        <dd>du-šan</dd>
    </dl>
    <noscript>
        &lt;p&gt;Hydra funguje pouze se zapnutým
        &lt;span lang='en' xml:lang='en'&gt;JavaScriptem&lt;/span&gt;.&lt;/p&gt;
    </noscript>
    <h3>Reference</h3>
    <p>
        <b>AmCharts</b>
        - kreslení grafů pomocí
        <abbr lang="en" xml:lang="en" title="HyperText Mark-up Language version&nbsp;5">HTML5</abbr>
        a <abbr lang="en" xml:lang="en" title="Scalable Vector Graphics">SVG</abbr>.
        Verze: <span id="AMChartsVersion">3.18.6</span>
    </p>
    <address>
        <a href="http://www.amcharts.com/"><code>http://www.amcharts.com/</code></a>
    </address>
    <p>
        <b>DateRangePicker</b>
        - kalendář s výběrem data
    </p>
    <address>
        <a href="http://www.daterangepicker.com/"><code>http://www.daterangepicker.com/</code></a>
    </address>
</div>