@{
    ViewBag.Title = "Kontakt";
}
<div class="jumbotron">
    <h2>@ViewBag.Title.</h2>
    <p>V případě potřeby mě můžete kontaktovat na následující emailové adrese.</p>
    <p>Pokusím se reagovat, co možná nejdříve :-)</p>

    <address>
        <strong>Email:</strong>
        <a href="mailto:mail@dusanrysavy.cz">mail@dusanrysavy.cz</a>
    </address>
</div>