@{
    ViewBag.Title = "";
}

<div class="jumbotron">
    <p class="lead">Vítej na nové Hydře</p>
    <div>V záložce <a href="~/Graf">Graf</a> si můžeš prohlížet vodní stavy řek a nádrží.</div>
    <div>Více informací v záložce <a href="~/Home/About">O stránce</a>.</div>
</div>
